

NET "A" IOSTANDARD = LVCMOS18;
NET "B" IOSTANDARD = LVCMOS18;
NET "C" IOSTANDARD = LVCMOS18;
NET "D" IOSTANDARD = LVCMOS18;
NET "E" IOSTANDARD = LVCMOS18;
NET "Y" IOSTANDARD = LVCMOS18;


NET "B" LOC = T3;
NET "C" LOC = U3;
NET "D" LOC = T4;
NET "E" LOC = V3;
NET "Y" LOC = R1;
NET "A" LOC = V4;


# PlanAhead Generated IO constraints 

NET "A" PULLDOWN;
NET "B" PULLDOWN;
NET "C" PULLDOWN;
NET "D" PULLDOWN;
NET "E" PULLDOWN;
