//! **************************************************************************
// Written by: Map P.20131013 on Sun Dec 09 12:44:53 2018
//! **************************************************************************

SCHEMATIC START;
COMP "A" LOCATE = SITE "V4" LEVEL 1;
COMP "B" LOCATE = SITE "T3" LEVEL 1;
COMP "C" LOCATE = SITE "U3" LEVEL 1;
COMP "D" LOCATE = SITE "T4" LEVEL 1;
COMP "E" LOCATE = SITE "V3" LEVEL 1;
COMP "Y" LOCATE = SITE "R1" LEVEL 1;
SCHEMATIC END;

