//! **************************************************************************
// Written by: Map P.20131013 on Wed Apr 17 22:32:52 2019
//! **************************************************************************

SCHEMATIC START;
COMP "Data_Output<31>" LOCATE = SITE "P2" LEVEL 1;
COMP "Data_Input<14>" LOCATE = SITE "V2" LEVEL 1;
COMP "Data_Input<22>" LOCATE = SITE "Y7" LEVEL 1;
COMP "Data_Input<30>" LOCATE = SITE "T4" LEVEL 1;
COMP "Data_Input<1>" LOCATE = SITE "AB8" LEVEL 1;
COMP "Data_Output<2>" LOCATE = SITE "L4" LEVEL 1;
COMP "Data_Output<16>" LOCATE = SITE "K1" LEVEL 1;
COMP "Data_Output<24>" LOCATE = SITE "G1" LEVEL 1;
COMP "Data_Output<32>" LOCATE = SITE "R1" LEVEL 1;
COMP "Data_Input<15>" LOCATE = SITE "AA1" LEVEL 1;
COMP "Data_Input<23>" LOCATE = SITE "Y8" LEVEL 1;
COMP "Data_Input<31>" LOCATE = SITE "U3" LEVEL 1;
COMP "Data_Input<2>" LOCATE = SITE "AB7" LEVEL 1;
COMP "Data_Output<3>" LOCATE = SITE "N4" LEVEL 1;
COMP "Data_Output<17>" LOCATE = SITE "G4" LEVEL 1;
COMP "Data_Output<25>" LOCATE = SITE "J2" LEVEL 1;
COMP "Data_Input<16>" LOCATE = SITE "Y1" LEVEL 1;
COMP "Data_Input<24>" LOCATE = SITE "W7" LEVEL 1;
COMP "Data_Input<32>" LOCATE = SITE "T3" LEVEL 1;
COMP "Data_Input<3>" LOCATE = SITE "U7" LEVEL 1;
COMP "Data_Output<4>" LOCATE = SITE "H3" LEVEL 1;
COMP "Data_Output<18>" LOCATE = SITE "K4" LEVEL 1;
COMP "Data_Output<26>" LOCATE = SITE "L1" LEVEL 1;
COMP "Data_Input<17>" LOCATE = SITE "W2" LEVEL 1;
COMP "Data_Input<25>" LOCATE = SITE "Y6" LEVEL 1;
COMP "Data_Input<4>" LOCATE = SITE "R6" LEVEL 1;
COMP "Data_Output<5>" LOCATE = SITE "K3" LEVEL 1;
COMP "Data_Output<19>" LOCATE = SITE "G3" LEVEL 1;
COMP "Data_Output<27>" LOCATE = SITE "M2" LEVEL 1;
COMP "Data_Input<18>" LOCATE = SITE "W1" LEVEL 1;
COMP "Data_Input<26>" LOCATE = SITE "Y4" LEVEL 1;
COMP "Data_Input<5>" LOCATE = SITE "T6" LEVEL 1;
COMP "Data_Output<6>" LOCATE = SITE "M3" LEVEL 1;
COMP "Data_Output<28>" LOCATE = SITE "M1" LEVEL 1;
COMP "Data_Input<19>" LOCATE = SITE "U2" LEVEL 1;
COMP "Data_Input<27>" LOCATE = SITE "W4" LEVEL 1;
COMP "Data_Input<6>" LOCATE = SITE "R3" LEVEL 1;
COMP "Data_Output<7>" LOCATE = SITE "N3" LEVEL 1;
COMP "Data_Output<29>" LOCATE = SITE "N2" LEVEL 1;
COMP "Data_Input<28>" LOCATE = SITE "V4" LEVEL 1;
COMP "Data_Input<7>" LOCATE = SITE "R2" LEVEL 1;
COMP "Data_Output<8>" LOCATE = SITE "B2" LEVEL 1;
COMP "Data_Input<29>" LOCATE = SITE "V3" LEVEL 1;
COMP "Data_Input<8>" LOCATE = SITE "AA6" LEVEL 1;
COMP "Data_Output<9>" LOCATE = SITE "B1" LEVEL 1;
COMP "Data_Input<9>" LOCATE = SITE "AB5" LEVEL 1;
COMP "SW<1>" LOCATE = SITE "AA8" LEVEL 1;
PIN SW<1>_pin<0> = BEL "SW<1>" PINNAME PAD;
PIN "SW<1>_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "SW<2>" LOCATE = SITE "V8" LEVEL 1;
PIN SW<2>_pin<0> = BEL "SW<2>" PINNAME PAD;
PIN "SW<2>_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "SW<3>" LOCATE = SITE "T5" LEVEL 1;
PIN SW<3>_pin<0> = BEL "SW<3>" PINNAME PAD;
PIN "SW<3>_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "SW<4>" LOCATE = SITE "AB6" LEVEL 1;
PIN SW<4>_pin<0> = BEL "SW<4>" PINNAME PAD;
PIN "SW<4>_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "SW<5>" LOCATE = SITE "AA4" LEVEL 1;
PIN SW<5>_pin<0> = BEL "SW<5>" PINNAME PAD;
PIN "SW<5>_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "SW<6>" LOCATE = SITE "R4" LEVEL 1;
PIN SW<6>_pin<0> = BEL "SW<6>" PINNAME PAD;
PIN "SW<6>_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "Data_Output<10>" LOCATE = SITE "D1" LEVEL 1;
COMP "Data_Output<11>" LOCATE = SITE "E2" LEVEL 1;
COMP "Data_Input<10>" LOCATE = SITE "AB3" LEVEL 1;
COMP "Data_Output<12>" LOCATE = SITE "F1" LEVEL 1;
COMP "Data_Output<20>" LOCATE = SITE "L3" LEVEL 1;
COMP "Data_Input<11>" LOCATE = SITE "AB2" LEVEL 1;
COMP "Data_Output<13>" LOCATE = SITE "G2" LEVEL 1;
COMP "Data_Output<21>" LOCATE = SITE "A1" LEVEL 1;
COMP "Data_Input<12>" LOCATE = SITE "AB1" LEVEL 1;
COMP "Data_Input<20>" LOCATE = SITE "U1" LEVEL 1;
COMP "Data_Output<14>" LOCATE = SITE "H2" LEVEL 1;
COMP "Data_Output<22>" LOCATE = SITE "D2" LEVEL 1;
COMP "Data_Output<30>" LOCATE = SITE "P1" LEVEL 1;
COMP "Data_Input<13>" LOCATE = SITE "Y2" LEVEL 1;
COMP "Data_Input<21>" LOCATE = SITE "T1" LEVEL 1;
COMP "Data_Output<1>" LOCATE = SITE "J4" LEVEL 1;
COMP "Data_Output<15>" LOCATE = SITE "J1" LEVEL 1;
COMP "Data_Output<23>" LOCATE = SITE "E1" LEVEL 1;
SCHEMATIC END;

