

NET "Data_Input[31]" IOSTANDARD = LVCMOS18;
NET "Data_Input[30]" IOSTANDARD = LVCMOS18;
NET "Data_Input[29]" IOSTANDARD = LVCMOS18;
NET "Data_Input[28]" IOSTANDARD = LVCMOS18;
NET "Data_Input[27]" IOSTANDARD = LVCMOS18;
NET "Data_Input[26]" IOSTANDARD = LVCMOS18;
NET "Data_Input[25]" IOSTANDARD = LVCMOS18;
NET "Data_Input[24]" IOSTANDARD = LVCMOS18;
NET "Data_Input[23]" IOSTANDARD = LVCMOS18;
NET "Data_Input[22]" IOSTANDARD = LVCMOS18;
NET "Data_Input[21]" IOSTANDARD = LVCMOS18;
NET "Data_Input[20]" IOSTANDARD = LVCMOS18;
NET "Data_Input[19]" IOSTANDARD = LVCMOS18;
NET "Data_Input[18]" IOSTANDARD = LVCMOS18;
NET "Data_Input[17]" IOSTANDARD = LVCMOS18;
NET "Data_Input[16]" IOSTANDARD = LVCMOS18;
NET "Data_Input[15]" IOSTANDARD = LVCMOS18;
NET "Data_Input[14]" IOSTANDARD = LVCMOS18;
NET "Data_Input[13]" IOSTANDARD = LVCMOS18;
NET "Data_Input[12]" IOSTANDARD = LVCMOS18;
NET "Data_Input[11]" IOSTANDARD = LVCMOS18;
NET "Data_Input[10]" IOSTANDARD = LVCMOS18;
NET "Data_Input[9]" IOSTANDARD = LVCMOS18;
NET "Data_Input[8]" IOSTANDARD = LVCMOS18;
NET "Data_Input[7]" IOSTANDARD = LVCMOS18;
NET "Data_Input[6]" IOSTANDARD = LVCMOS18;
NET "Data_Input[5]" IOSTANDARD = LVCMOS18;
NET "Data_Input[4]" IOSTANDARD = LVCMOS18;
NET "Data_Input[3]" IOSTANDARD = LVCMOS18;
NET "Data_Input[2]" IOSTANDARD = LVCMOS18;
NET "Data_Input[1]" IOSTANDARD = LVCMOS18;
NET "Data_Input[32]" IOSTANDARD = LVCMOS18;


NET "Data_Input[32]" LOC = T3;
NET "Data_Input[31]" LOC = U3;
NET "Data_Input[30]" LOC = T4;
NET "Data_Input[29]" LOC = V3;
NET "Data_Input[28]" LOC = V4;
NET "Data_Input[27]" LOC = W4;
NET "Data_Input[26]" LOC = Y4;
NET "Data_Input[25]" LOC = Y6;
NET "Data_Input[24]" LOC = W7;
NET "Data_Input[23]" LOC = Y8;
NET "Data_Input[22]" LOC = Y7;
NET "Data_Input[21]" LOC = T1;
NET "Data_Input[20]" LOC = U1;
NET "Data_Input[19]" LOC = U2;
NET "Data_Input[18]" LOC = W1;
NET "Data_Input[17]" LOC = W2;
NET "Data_Input[16]" LOC = Y1;
NET "Data_Input[15]" LOC = AA1;
NET "Data_Input[14]" LOC = V2;
NET "Data_Input[13]" LOC = Y2;
NET "Data_Input[12]" LOC = AB1;
NET "Data_Input[11]" LOC = AB2;
NET "Data_Input[10]" LOC = AB3;
NET "Data_Input[9]" LOC = AB5;
NET "Data_Input[8]" LOC = AA6;
NET "Data_Input[7]" LOC = R2;
NET "Data_Input[6]" LOC = R3;
NET "Data_Input[5]" LOC = T6;
NET "Data_Input[4]" LOC = R6;
NET "Data_Input[3]" LOC = U7;
NET "Data_Input[2]" LOC = AB7;
NET "Data_Input[1]" LOC = AB8;


NET "Data_Input[31]" PULLDOWN;
NET "Data_Input[30]" PULLDOWN;
NET "Data_Input[29]" PULLDOWN;
NET "Data_Input[28]" PULLDOWN;
NET "Data_Input[27]" PULLDOWN;
NET "Data_Input[26]" PULLDOWN;
NET "Data_Input[25]" PULLDOWN;
NET "Data_Input[24]" PULLDOWN;
NET "Data_Input[23]" PULLDOWN;
NET "Data_Input[22]" PULLDOWN;
NET "Data_Input[21]" PULLDOWN;
NET "Data_Input[20]" PULLDOWN;
NET "Data_Input[19]" PULLDOWN;
NET "Data_Input[18]" PULLDOWN;
NET "Data_Input[17]" PULLDOWN;
NET "Data_Input[16]" PULLDOWN;
NET "Data_Input[15]" PULLDOWN;
NET "Data_Input[14]" PULLDOWN;
NET "Data_Input[13]" PULLDOWN;
NET "Data_Input[12]" PULLDOWN;
NET "Data_Input[11]" PULLDOWN;
NET "Data_Input[10]" PULLDOWN;
NET "Data_Input[9]" PULLDOWN;
NET "Data_Input[8]" PULLDOWN;
NET "Data_Input[7]" PULLDOWN;
NET "Data_Input[6]" PULLDOWN;
NET "Data_Input[5]" PULLDOWN;
NET "Data_Input[4]" PULLDOWN;
NET "Data_Input[3]" PULLDOWN;
NET "Data_Input[2]" PULLDOWN;
NET "Data_Input[1]" PULLDOWN;
NET "Data_Input[32]" PULLDOWN;
NET "Data_Output[31]" IOSTANDARD = LVCMOS18;
NET "Data_Output[30]" IOSTANDARD = LVCMOS18;
NET "Data_Output[29]" IOSTANDARD = LVCMOS18;
NET "Data_Output[28]" IOSTANDARD = LVCMOS18;
NET "Data_Output[27]" IOSTANDARD = LVCMOS18;
NET "Data_Output[26]" IOSTANDARD = LVCMOS18;
NET "Data_Output[25]" IOSTANDARD = LVCMOS18;
NET "Data_Output[24]" IOSTANDARD = LVCMOS18;
NET "Data_Output[23]" IOSTANDARD = LVCMOS18;
NET "Data_Output[22]" IOSTANDARD = LVCMOS18;
NET "Data_Output[21]" IOSTANDARD = LVCMOS18;
NET "Data_Output[20]" IOSTANDARD = LVCMOS18;
NET "Data_Output[19]" IOSTANDARD = LVCMOS18;
NET "Data_Output[18]" IOSTANDARD = LVCMOS18;
NET "Data_Output[17]" IOSTANDARD = LVCMOS18;
NET "Data_Output[16]" IOSTANDARD = LVCMOS18;
NET "Data_Output[15]" IOSTANDARD = LVCMOS18;
NET "Data_Output[14]" IOSTANDARD = LVCMOS18;
NET "Data_Output[13]" IOSTANDARD = LVCMOS18;
NET "Data_Output[12]" IOSTANDARD = LVCMOS18;
NET "Data_Output[11]" IOSTANDARD = LVCMOS18;
NET "Data_Output[10]" IOSTANDARD = LVCMOS18;
NET "Data_Output[9]" IOSTANDARD = LVCMOS18;
NET "Data_Output[8]" IOSTANDARD = LVCMOS18;
NET "Data_Output[7]" IOSTANDARD = LVCMOS18;
NET "Data_Output[6]" IOSTANDARD = LVCMOS18;
NET "Data_Output[5]" IOSTANDARD = LVCMOS18;
NET "Data_Output[4]" IOSTANDARD = LVCMOS18;
NET "Data_Output[3]" IOSTANDARD = LVCMOS18;
NET "Data_Output[2]" IOSTANDARD = LVCMOS18;
NET "Data_Output[1]" IOSTANDARD = LVCMOS18;
NET "Data_Output[32]" IOSTANDARD = LVCMOS18;


NET "Data_Output[32]" LOC = R1;
NET "Data_Output[31]" LOC = P2;
NET "Data_Output[30]" LOC = P1;
NET "Data_Output[29]" LOC = N2;
NET "Data_Output[28]" LOC = M1;
NET "Data_Output[27]" LOC = M2;
NET "Data_Output[26]" LOC = L1;
NET "Data_Output[25]" LOC = J2;
NET "Data_Output[24]" LOC = G1;
NET "Data_Output[23]" LOC = E1;
NET "Data_Output[22]" LOC = D2;
NET "Data_Output[21]" LOC = A1;
NET "Data_Output[20]" LOC = L3;
NET "Data_Output[19]" LOC = G3;
NET "Data_Output[18]" LOC = K4;
NET "Data_Output[17]" LOC = G4;
NET "Data_Output[16]" LOC = K1;
NET "Data_Output[15]" LOC = J1;
NET "Data_Output[14]" LOC = H2;
NET "Data_Output[13]" LOC = G2;
NET "Data_Output[12]" LOC = F1;
NET "Data_Output[11]" LOC = E2;
NET "Data_Output[10]" LOC = D1;
NET "Data_Output[9]" LOC = B1;
NET "Data_Output[8]" LOC = B2;
NET "Data_Output[7]" LOC = N3;
NET "Data_Output[6]" LOC = M3;
NET "Data_Output[5]" LOC = K3;
NET "Data_Output[4]" LOC = H3;
NET "Data_Output[3]" LOC = N4;
NET "Data_Output[2]" LOC = L4;
NET "Data_Output[1]" LOC = J4;



NET "SW[6]" IOSTANDARD = LVCMOS18;
NET "SW[5]" IOSTANDARD = LVCMOS18;
NET "SW[4]" IOSTANDARD = LVCMOS18;
NET "SW[3]" IOSTANDARD = LVCMOS18;
NET "SW[2]" IOSTANDARD = LVCMOS18;
NET "SW[1]" IOSTANDARD = LVCMOS18;

NET "SW[6]" LOC = R4;
NET "SW[5]" LOC = AA4;
NET "SW[4]" LOC = AB6;
NET "SW[3]" LOC = T5;
NET "SW[2]" LOC = V8;
NET "SW[1]" LOC = AA8;


NET "SW[6]" CLOCK_DEDICATED_ROUTE = FALSE;
NET "SW[5]" CLOCK_DEDICATED_ROUTE = FALSE;
NET "SW[4]" CLOCK_DEDICATED_ROUTE = FALSE;
NET "SW[3]" CLOCK_DEDICATED_ROUTE = FALSE;
NET "SW[2]" CLOCK_DEDICATED_ROUTE = FALSE;
NET "SW[1]" CLOCK_DEDICATED_ROUTE = FALSE;
 


