

NET "Q1" IOSTANDARD = LVCMOS18;
NET "Q2" IOSTANDARD = LVCMOS18;
NET "R" IOSTANDARD = LVCMOS18;
NET "S" IOSTANDARD = LVCMOS18;
NET "R" PULLDOWN;
NET "S" PULLDOWN;


NET "Q1" LOC = R1;
NET "Q2" LOC = P2;
NET "R" LOC = T3;
NET "S" LOC = U3;
