NET "Output_Data[31]" IOSTANDARD = LVCMOS18;
NET "Output_Data[30]" IOSTANDARD = LVCMOS18;
NET "Output_Data[29]" IOSTANDARD = LVCMOS18;
NET "Output_Data[28]" IOSTANDARD = LVCMOS18;
NET "Output_Data[27]" IOSTANDARD = LVCMOS18;
NET "Output_Data[26]" IOSTANDARD = LVCMOS18;
NET "Output_Data[25]" IOSTANDARD = LVCMOS18;
NET "Output_Data[24]" IOSTANDARD = LVCMOS18;
NET "Output_Data[23]" IOSTANDARD = LVCMOS18;
NET "Output_Data[22]" IOSTANDARD = LVCMOS18;
NET "Output_Data[21]" IOSTANDARD = LVCMOS18;
NET "Output_Data[20]" IOSTANDARD = LVCMOS18;
NET "Output_Data[19]" IOSTANDARD = LVCMOS18;
NET "Output_Data[18]" IOSTANDARD = LVCMOS18;
NET "Output_Data[17]" IOSTANDARD = LVCMOS18;
NET "Output_Data[16]" IOSTANDARD = LVCMOS18;
NET "Output_Data[15]" IOSTANDARD = LVCMOS18;
NET "Output_Data[14]" IOSTANDARD = LVCMOS18;
NET "Output_Data[13]" IOSTANDARD = LVCMOS18;
NET "Output_Data[12]" IOSTANDARD = LVCMOS18;
NET "Output_Data[11]" IOSTANDARD = LVCMOS18;
NET "Output_Data[10]" IOSTANDARD = LVCMOS18;
NET "Output_Data[9]" IOSTANDARD = LVCMOS18;
NET "Output_Data[8]" IOSTANDARD = LVCMOS18;
NET "Output_Data[7]" IOSTANDARD = LVCMOS18;
NET "Output_Data[6]" IOSTANDARD = LVCMOS18;
NET "Output_Data[5]" IOSTANDARD = LVCMOS18;
NET "Output_Data[4]" IOSTANDARD = LVCMOS18;
NET "Output_Data[3]" IOSTANDARD = LVCMOS18;
NET "Output_Data[2]" IOSTANDARD = LVCMOS18;
NET "Output_Data[1]" IOSTANDARD = LVCMOS18;
NET "Output_Data[32]" IOSTANDARD = LVCMOS18;


NET "Output_Data[32]" LOC = R1;
NET "Output_Data[31]" LOC = P2;
NET "Output_Data[30]" LOC = P1;
NET "Output_Data[29]" LOC = N2;
NET "Output_Data[28]" LOC = M1;
NET "Output_Data[27]" LOC = M2;
NET "Output_Data[26]" LOC = L1;
NET "Output_Data[25]" LOC = J2;
NET "Output_Data[24]" LOC = G1;
NET "Output_Data[23]" LOC = E1;
NET "Output_Data[22]" LOC = D2;
NET "Output_Data[21]" LOC = A1;
NET "Output_Data[20]" LOC = L3;
NET "Output_Data[19]" LOC = G3;
NET "Output_Data[18]" LOC = K4;
NET "Output_Data[17]" LOC = G4;
NET "Output_Data[16]" LOC = K1;
NET "Output_Data[15]" LOC = J1;
NET "Output_Data[14]" LOC = H2;
NET "Output_Data[13]" LOC = G2;
NET "Output_Data[12]" LOC = F1;
NET "Output_Data[11]" LOC = E2;
NET "Output_Data[10]" LOC = D1;
NET "Output_Data[9]" LOC = B1;
NET "Output_Data[8]" LOC = B2;
NET "Output_Data[7]" LOC = N3;
NET "Output_Data[6]" LOC = M3;
NET "Output_Data[5]" LOC = K3;
NET "Output_Data[4]" LOC = H3;
NET "Output_Data[3]" LOC = N4;
NET "Output_Data[2]" LOC = L4;
NET "Output_Data[1]" LOC = J4;



NET "SW[5]" IOSTANDARD = LVCMOS18;
NET "SW[4]" IOSTANDARD = LVCMOS18;
NET "SW[3]" IOSTANDARD = LVCMOS18;
NET "SW[2]" IOSTANDARD = LVCMOS18;
NET "SW[1]" IOSTANDARD = LVCMOS18;
NET "SW[0]" IOSTANDARD = LVCMOS18;

NET "SW[5]" LOC = R4;
NET "SW[4]" LOC = AA4;
NET "SW[3]" LOC = AB6;
NET "SW[2]" LOC = T5;
NET "SW[1]" LOC = V8;
NET "SW[0]" LOC = AA8;


NET "SW[0]" CLOCK_DEDICATED_ROUTE = FALSE;
NET "SW[1]" CLOCK_DEDICATED_ROUTE = FALSE;
NET "SW[4]" CLOCK_DEDICATED_ROUTE = FALSE;
NET "SW[5]" CLOCK_DEDICATED_ROUTE = FALSE;
NET "SW[3]" CLOCK_DEDICATED_ROUTE = FALSE;
NET "SW[2]" CLOCK_DEDICATED_ROUTE = FALSE;
