//! **************************************************************************
// Written by: Map P.20131013 on Sun Mar 24 22:03:37 2019
//! **************************************************************************

SCHEMATIC START;
COMP "c_out" LOCATE = SITE "J2" LEVEL 1;
COMP "sum<0>" LOCATE = SITE "N2" LEVEL 1;
COMP "sum<1>" LOCATE = SITE "P1" LEVEL 1;
COMP "sum<2>" LOCATE = SITE "P2" LEVEL 1;
COMP "sum<3>" LOCATE = SITE "R1" LEVEL 1;
COMP "a<0>" LOCATE = SITE "V3" LEVEL 1;
COMP "a<1>" LOCATE = SITE "T4" LEVEL 1;
COMP "a<2>" LOCATE = SITE "U3" LEVEL 1;
COMP "a<3>" LOCATE = SITE "T3" LEVEL 1;
COMP "b<0>" LOCATE = SITE "W7" LEVEL 1;
COMP "b<1>" LOCATE = SITE "Y6" LEVEL 1;
COMP "b<2>" LOCATE = SITE "Y4" LEVEL 1;
COMP "b<3>" LOCATE = SITE "W4" LEVEL 1;
COMP "c_in" LOCATE = SITE "Y7" LEVEL 1;
SCHEMATIC END;

