<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>瀑布花展</title>
    <style type="text/css">
        * {
            padding: 0px;
            margin: 0px;
        }

        #main {
            position: relative;

        }

        .box {
            padding: 15px 0px 0px 15px;
            float: left;

        }

        .pic {
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            box-shadow: 0 0 5px #ccc;
        }

        .pic img {
            width: 165px;
            height: auto;
        }
        .pic img:hover{
            width:220px;
            z-index: 999;
        }
    </style>
</head>

<body>
    <div id="main">
        <div class="box">
            <div class="pic">
                <img src="public/home/img/1.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/2.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/3.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/4.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/5.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/6.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/7.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/8.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/9.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/one.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/10.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/11.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/12.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/13.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/14.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/15.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/16.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/two.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/17.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/18.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/19.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/20.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/three.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/21.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/22.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/23.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/24.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/25.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/26.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/27.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/28.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/four.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/29.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/30.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/31.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/32.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/33.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/34.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/35.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/36.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/37.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/five.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/38.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/39.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/40.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/1.jpg">
                6 </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/2.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/3.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/4.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/5.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/6.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/three.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/7.jpg">
            </div>
        </div>

        <div class="box">
            <div class="pic">
                <img src="public/home/img/8.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/9.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/10.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/five.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/11.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/12.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/13.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/14.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/15.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/three.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/4.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/5.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/2.jpg">
            </div>
        </div>
        <div class="box">
            <div class="pic">
                <img src="public/home/img/one.jpg">
            </div>
        </div>
    </div>

    <script src="C:\Users\Johnke\1Drive\桌面\jquerymin\jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            waterpull('main', 'box')
        }
        function waterpull(parent, children) {
            var main = document.getElementById('main');
            var box = document.getElementsByClassName('box');
            var boxW = box[0].offsetWidth;
            var puts = Math.floor(document.body.offsetWidth / box[0].offsetWidth);

            main.style.cssText = 'width:' + boxW * puts + 'px; margin: 0 auto';


            var arrH = [];
            for (var i = 0; i < box.length; i++) {
                if (i < puts) {
                    arrH.push(box[i].offsetHeight);
                } else {
                    var minH = Math.min.apply(null, arrH);

                    var minIndex = getMinIndex(arrH, minH);
                    box[i].style.position = 'absolute';
                    box[i].style.top = minH + 'px';
                    box[i].style.left = minIndex * boxW + 'px';
                    arrH[minIndex] += box[i].offsetHeight;
                }
            }

        }

        function getMinIndex(arr, min) {
            for (var pro in arr) {
                if (arr[pro] == min) {
                    return pro
                }
            }
        }




    </script>
</body>

</html>